
# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración de editores
.vscode/
.idea/
*.sublime-workspace

# Archivos de log
*.log
debug.log*

# Dependencias (si en el futuro se usa npm, por ejemplo)
node_modules/

# Archivos de build (si en el futuro se usa un bundler)
dist/
build/
